@if (Show)
{
    <div class="alert alert-secondary alert-dismissible fade show mt-4" role="alert">
        @ChildContent
        <button class="close" type="button" data-dismiss="alert" aria-label="Close" @onclick="Dismiss">
            <span aria-hidden="true">&times</span>
        </button>
    </div>
}

@code {
    [Parameter]
    public bool Show
    {
        get => show;
        set
        {
            if(value != show){
                show = value;
                ShowChanged?.InvokeAsync(show);
            }
        }
    }

    private bool show;

    [Parameter]
    public EventCallback<bool>? ShowChanged {get;set;}

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    public void Dismiss() => Show = false;
}
